{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td>
                <h1>User: {{ username }}</h1>
            </td>
        </tr>
    </table>
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>ID</th>
          <th>User</th>
          <th>Common Name</th>
          <th>Organization</th>
          <th>CSR</th>
          <th>Key</th>
          <th>PFX</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tbody>
        {% for certificate in certificates %}
          <tr>
            <td>{{ certificate.timestamp }}</td>
            <td>{{ certificate.id }}</td>
            {% for user in users %}
              {% if user.id == certificate.user_id %}
                <td>{{ user.username }}</td>
              {% endif %}
            {% endfor %}
            <td>{{ certificate.cn }}</td>
            <td>{{ certificate.organization }}</td>
            {% if certificate.csr %}
              <td>> Has CSR </td>
            {% else %}
              <td>No CSR yet</td>
            {% endif %}
            {% if certificate.key %}
              <td>> Has Key </td>
            {% else %}
              <td>No Key yet</td>
            {% endif %}
            {% if certificate.pfx %}
              <td>> Has PFX </td>
            {% else %}
              <td>No PFX yet</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>  
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Certificates
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Certificates <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
